<div class="text-center">
  <h1>Answer</h1>
</div>

<div>
  <% if @answer.downcase == 'i am going to work'%>
  <p>Great !</p>
  <% elsif @answer.end_with?('?') %>
  <p>Silly question, get dressed and go to work!</p>
  <% else %>
  <p>I don't care, get dressed and go to work!</p>
  <% end %>
  <p>-Your coach</p>
</div>

<%= link_to 'Ask a new question', ask_path %>
